/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */ 
.mapsCanvas{
    height: calc(100ch - 56px);
    width: 100;
    margin-bottom: 400px;
    /* height: 300px;
    width: 300px; */
}

#map {
    height: 100%;
}

/* 
   * Optional: Makes the sample page fill the window. 
   */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
